<br>
<body>
<h1>Digitrack</h1>
<br>
<h2>Présentation</h2>
<p>
  Titre : Développeur Full Stack chez Altaroad<br>
  Période : Février 2021 à aujourd'hui<br>
  Statut : Stagiaire, puis alternant<br>
</p>
<br>
<h2>L'entreprise</h2>
<p>
  Altaroad est une start-up française spécialisée dans le domaine de la deep tech. Elle vise à améliorer le secteur de la construction et du BTP en proposant des solutions innovantes pour rendre ces domaines plus durables. Grâce à une approche combinant sécurité routière, diminution de l'impact environnemental des chantiers et optimisation des flux, Altaroad parvient à améliorer la performance économique de ses clients tout en contribuant à un avenir plus vert.
</p>
<br>
<h2>Responsabilités</h2>
<p>
  En tant que développeur full stack chez Altaroad, j'ai été impliqué dans plusieurs aspects du développement de projets, incluant la conception, l'implémentation, le test et le déploiement d'applications et de fonctionnalités. J'ai travaillé en étroite collaboration avec une équipe de développeurs, de designers et de chefs de projet pour assurer le bon déroulement des projets et la satisfaction des clients.
</p>
<br>
<h2>Missions principales</h2>
  <h3>Conception et développement d'applications web et mobiles</h3>
  <p>J'ai participé à la conception et au développement de plusieurs applications pour améliorer les processus internes de l'entreprise et fournir des solutions innovantes aux clients. Ces applications ont été développées en utilisant diverses technologies et langages de programmation, tels que JavaScript, HTML, CSS, React, Angular et Node.js.</p>
  <h3>Intégration et déploiement de solutions</h3>
  <p>J'ai été responsable de l'intégration et du déploiement des solutions développées au sein des environnements clients, en veillant à leur bonne mise en place et à leur fonctionnement optimal.</p>
  <h3>Tests et maintenance</h3>
  <p>J'ai réalisé des tests fonctionnels et techniques pour identifier et corriger les éventuels bugs et problèmes rencontrés lors du développement des applications. J'ai également été chargé de la maintenance des solutions existantes, en assurant leur bon fonctionnement et en apportant des améliorations lorsque nécessaire.</p>
  <h3>Travail en équipe</h3>
  <p>J'ai collaboré étroitement avec les membres de mon équipe pour partager les connaissances, les bonnes pratiques et les retours d'expérience. Cette collaboration a permis d'améliorer notre efficacité.</p>
<br>
<h2>Vision de l'entreprise</h2>
<p>
  Altaroad est pour moi une entreprise innovante, qui s'efforce de trouver des solutions pour améliorer le secteur de la construction et du BTP. En travaillant chez Altaroad, j'ai pu contribuer à la réalisation de cette vision en développant des applications et des solutions qui permettent d'optimiser les processus de travail et de réduire l'impact environnemental des chantiers. Je suis convaincu que l'approche d'Altaroad permettra de créer un avenir plus durable pour l'industrie de la construction et du BTP, tout en offrant des avantages économiques à ses clients.
</p>
<br>
<h2>Article lié :</h2>
<a href="projects/digitrack">Le projet Digitrack</a><br>
<a href="skills/build-app">Construire une application</a><br>
<a href="skills/build-api">Construire une Api</a><br>
<a href="skills/server-management">Gestion de parc de server</a>
</body>
<br>
<br>
<br>
