<br>
<body>
<h1>Génération de musique par IA</h1>
<br>
<p>
  La <strong>génération de musique par IA</strong> est un projet personnel passionnant que j'ai entrepris dans le but de créer de la musique de haute qualité en utilisant des modèles de machine learning. Ce projet a offert l'occasion d'expérimenter diverses architectures de modèles et d'acquérir une multitude de connaissances dans le domaine de l'IA musicale.
</p>
<img src="assets/img/musicai1.png" alt="Future of the project" style="max-height: 50vh; max-width: 80vw;"/>
<p>
  Si des modèles professionnels pour la génération de musique existent déjà, tels que Jukebox d'OpenAI, ainsi que les offres de Microsoft et Google, les résultats restent limités. Le modèle le plus performant actuellement est AIVA, développé par l'entreprise du même nom. Cependant, la génération musicale s'avère bien plus complexe que la génération d'images. Alors qu'une image imparfaite peut parfois tromper le cerveau, une fausse note ou un manque d'harmonie est immédiatement perceptible à l'oreille.
</p>

<p>
  L'objectif de ce projet est de repousser ces limites en explorant et en créant des modèles de machine learning capables de générer de la musique de qualité supérieure. En rivalisant avec les modèles professionnels existants et en dépassant leurs limitations, ce projet vise à maximiser le potentiel de la génération de musique par IA.
</p>
<p>
  Mon parcours dans ce projet a été marqué par l'expérimentation avec une multitude de techniques et d'architectures. J'ai commencé par tester un <strong>Generative Adversarial Network</strong> (GAN) et un <strong>Variational Autoencoder</strong> (VAE) en 2021, avec des résultats comparables à ceux de Jukebox. Puis, j'ai exploré un <strong>Wavenet</strong>, une architecture de réseau de neurones convolutifs profonds pour générer des signaux audio. Les musiques produites étaient riches, mais également bruitées. Par la suite, j'ai expérimenté avec un <strong>LSTM</strong> (Long Short-Term Memory) personnalisé qui a abouti à la version 1 du modèle, légèrement meilleure que Jukebox, mais produisant des musiques mono canal rappelant les années 90.
</p>
<p>
  À l'été 2022, la version 1.5 est née, dérivée du LSTM personnalisé et spécialisée dans la production de musique lo-fi. Cette version a intégré des techniques de traitement du signal et des caractéristiques spécifiques au genre lo-fi pour améliorer la génération de musique dans ce style. Par la suite, j'ai mis en place une nouvelle architecture pour la version 2 du modèle, combinant des éléments de plusieurs architectures précédemment testées et intégrant de nouvelles techniques pour la gestion de plusieurs instruments, tonalités et rythmes.
</p>
<p>
  En 2023, j'ai commencé à tester la diffusion stable, une méthode de génération de musique qui prend en compte les relations temporelles entre les notes et les instruments pour créer des séquences musicales plus cohérentes et harmonieuses. Chacune de ces étapes a permis d'explorer différentes architectures de modèles et de techniques de génération de musique, en se concentrant sur les défis spécifiques liés à la qualité sonore, la complexité des mélodies et la gestion des instruments.
</p>
<p>
  J'ai mené ce projet seul, soutenu par ma fidèle machine à café. La chaîne YouTube <strong>Mt. Scale</strong> publie quotidiennement une vidéo basée sur la version 1 du modèle, et d'autres chaînes similaires ont été créées pour les autres versions.
</p>
<p>
  Je prévois de continuer à améliorer le modèle, et d'explorer de nouvelles architectures et techniques pour affiner la génération de musique par IA. Ce projet a été un formidable terrain d'apprentissage, permettant de mieux comprendre les défis et les possibilités de la génération de musique par IA. Il a également permis d'améliorer mes compétences en matière de création de modèles efficaces et de résolution de problèmes complexes dans le domaine de l'IA et de la musique.
</p>
<img src="assets/img/musicai2.png" alt="Future of the project" style="max-height: 50vh; max-width: 80vw;"/>
<br>
<br>
<p>
  Les principales compétences développées lors de cette réalisation sont :<br><br>
  - Connaissance approfondie des architectures de machine learning.<br>
  - Expérience dans l'optimisation et l'amélioration des modèles de génération de musique.<br>
  - Capacité à résoudre des problèmes complexes dans le domaine de l'IA et de la musique.<br>
</p>
<br>
<h2>Articles liés :</h2>
<a href="skills/autonomy">Autonomie</a><br>
<a href="skills/automation">Automatisation Intelligente</a><br>
</body>
<br>
<br>
<br>
