<br>
<body>
<h1>Gestion de serveur et parc Unix</h1>
<br>
<h2>Définition</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;La gestion de serveur et parc Unix implique l'administration, la maintenance et la supervision des systèmes d'exploitation Unix et des serveurs associés.<br>
  Cela comprend la configuration et la mise à jour des serveurs, la surveillance des performances, la gestion de la sécurité et l'optimisation des ressources. Les administrateurs de serveurs et parcs Unix peuvent également être responsables de l'automatisation des tâches, de la gestion des sauvegardes et de la résolution des problèmes liés aux serveurs et aux systèmes d'exploitation.
</p>
<br>
<h2>Contexte professionnel</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Dans un contexte professionnel, la gestion de serveurs et de parcs Unix est essentielle pour assurer la disponibilité, la sécurité et les performances des services informatiques.<br>
  Les administrateurs de serveurs et parcs Unix travaillent en étroite collaboration avec les développeurs, les ingénieurs réseau et les équipes de support pour garantir que les systèmes sont correctement configurés, mis à jour et sécurisés.<br>
  Ils sont également responsables de la mise en place et de la maintenance des outils de surveillance et de diagnostic pour suivre l'état des serveurs et détecter rapidement les problèmes potentiels.
</p>
<br>
<h2>Actualité</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;L'adoption croissante de l'edge computing et de l'Internet des objets (IoT) a conduit à une augmentation de la demande pour les compétences en gestion de serveurs et parcs Unix.<br>
  Les entreprises cherchent de plus en plus à déployer des solutions basées sur des systèmes d'exploitation Unix pour tirer parti de leur fiabilité, de leur sécurité et de leur flexibilité.<br>
  Les technologies de cloud computing, telles qu'AWS, sont également de plus en plus utilisées pour gérer et déployer des infrastructures de serveurs Unix.
</p>
<br>
<h2>Réalisation</h2>
<br>
<h3>Optimisation du déploiement des serveurs edge computing</h3>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;En tant que chargé d'optimiser le temps de déploiement des serveurs edge computing d'Altaroad, j'ai créé un ensemble de scripts Ansible pour déployer automatiquement les serveurs edge destinés aux chantiers.<br>
  Cela inclut l'installation des logiciels nécessaires, la connexion au VPN de l'entreprise, l'échange de clés et l'installation de certificats avec AWS, la mise en place des containers de services ainsi que l'analyse régulière et l'envoi des signes vitaux du serveur.<br>
  Grâce à ces améliorations, le temps nécessaire pour déployer un serveur sur un chantier a été considérablement réduit, améliorant ainsi l'efficacité globale des opérations d'Altaroad.
</p>
<br>
<h3>Tableau de bord du parc de serveurs</h3>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;J'ai développé un tableau de bord pour le parc de serveurs, permettant de visualiser l'état de chaque serveur en un coup d'œil.<br>
  Utilisant Grafana, Prometheus et InfluxDB, ce tableau de bord offre la possibilité de consulter diverses informations sur les serveurs, telles que les performances, la disponibilité et les alertes.<br>
  Ce projet a amélioré la surveillance et la gestion des serveurs, facilitant la détection rapide des problèmes et la résolution des incidents.
</p>
<br>
<h2>Autocritique</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Bien que je possède de bonnes compétences en gestion de serveurs et parcs Unix, je reconnais que l'évolution rapide des technologies et des pratiques peut nécessiter une amélioration continue de mes connaissances et compétences.<br>
  Par exemple, la montée en puissance des solutions de conteneurisation, telles que Docker et Kubernetes, modifie la façon dont les infrastructures sont gérées et déployées.<br>
  Je suis conscient de ces nouvelles approches et je suis déterminé à me tenir informé des dernières tendances et à m'adapter en conséquence pour rester compétent dans mon domaine.
</p>
<br>
<h2>Évolution</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Afin d'élargir mon expertise en gestion de serveurs et parcs Unix, je compte explorer davantage les solutions de conteneurisation et les plateformes d'orchestration, comme Kubernetes.<br>
  De plus, je souhaite me familiariser avec d'autres services de cloud computing et de gestion de l'infrastructure, tels que Google Cloud Platform et Microsoft Azure.<br>
  Enfin, je vise à renforcer mes compétences en automatisation et en infrastructure en tant que code (IAC), en me formant sur des outils tels que Terraform et Pulumi. En développant ces compétences, je serai en mesure de gérer et de déployer des infrastructures de serveurs Unix plus efficacement et de rester à jour avec les tendances actuelles du secteur.
</p>
<br>
<h2>Article lié :</h2>
<a href="projects/edge-server">Déploiement automatisé de server</a><br>
<a href="projects/monitoring">Suivi à distance d'un parc de server</a><br>
</body>
<br>
<br>
<br>
