<br>
<body>
<h1>Gestion de serveur et parc Unix</h1>
<br>
<p>
  La <strong>gestion de serveurs et de parc Unix</strong> est une tâche vitale qui comprend l'administration, la maintenance et la surveillance des systèmes d'exploitation Unix et des serveurs associés. Ces responsabilités englobent la configuration et la mise à jour des serveurs, la surveillance des performances, la gestion de la sécurité et l'optimisation des ressources. Par ailleurs, les administrateurs de serveurs et de parcs Unix peuvent aussi être chargés de l'automatisation des tâches, de la gestion des sauvegardes et de la résolution des problèmes de serveurs et de systèmes d'exploitation.
</p>
<img src="assets/img/servermanagement1.png" alt="Image related to server and Unix park management" style="max-height: 50vh; max-width: 80vw;"/>

<p>
  Dans un contexte professionnel, la <strong>gestion de serveurs et de parcs Unix</strong> est fondamentale pour assurer la disponibilité, la sécurité et les performances des services informatiques. Les administrateurs de serveurs et de parcs Unix travaillent en étroite collaboration avec les développeurs, les ingénieurs réseau et les équipes de support pour garantir que les systèmes sont correctement configurés, mis à jour et sécurisés. Ils sont également responsables de la mise en place et de la maintenance des outils de surveillance et de diagnostic pour suivre l'état des serveurs et détecter rapidement les problèmes potentiels.
</p>

<p>
  L'adoption croissante de l'edge computing et de l'Internet des objets (IoT) a entraîné une augmentation de la demande de compétences en gestion de serveurs et de parcs Unix. Les entreprises cherchent de plus en plus à déployer des solutions basées sur des systèmes d'exploitation Unix pour bénéficier de leur fiabilité, de leur sécurité et de leur flexibilité. Les technologies de cloud computing, comme AWS, sont également de plus en plus utilisées pour gérer et déployer des infrastructures de serveurs Unix.
</p>

<p>
  En tant que responsable de l'optimisation du temps de déploiement des serveurs edge computing chez <strong>Altaroad</strong>, j'ai créé un ensemble de scripts Ansible pour déployer automatiquement les serveurs edge destinés aux chantiers. Ce processus inclut l'installation des logiciels nécessaires, la connexion au VPN de l'entreprise, l'échange de clés et l'installation de certificats avec AWS, la mise en place des conteneurs de services ainsi que l'analyse régulière et l'envoi des signes vitaux du serveur. Grâce à ces améliorations, le temps nécessaire pour déployer un serveur sur un chantier a été significativement réduit, améliorant ainsi l'efficacité globale des opérations d'Altaroad.
</p>

<p>
  J'ai également développé un tableau de bord pour le parc de serveurs, permettant de visualiser l'état de chaque serveur en un coup d'œil. Utilisant Grafana, Prometheus et InfluxDB, ce tableau de bord offre la possibilité de consulter diverses informations sur les serveurs, comme les performances, la disponibilité et les alertes. Ce projet a amélioré la surveillance et la gestion des serveurs, facilitant la détection rapide des problèmes et la résolution des incidents.
</p>

<p>
  Tout en ayant de bonnes compétences en gestion de serveurs et parcs Unix, je suis conscient que l'évolution rapide des technologies et des pratiques requiert une amélioration continue de mes connaissances et compétences. Par exemple, l'émergence des solutions de conteneurisation, comme Docker et Kubernetes, change la manière dont les infrastructures sont gérées et déployées. Je suis conscient de ces nouvelles approches et je suis déterminé à me tenir au courant des dernières tendances et à m'adapter en conséquence pour rester compétent dans mon domaine.
</p>

<p>
  Pour élargir mon expertise en gestion de serveurs et de parcs Unix, je prévois d'explorer davantage les solutions de conteneurisation et les plateformes d'orchestration, comme Kubernetes. Je souhaite aussi me familiariser avec d'autres services de cloud computing et de gestion de l'infrastructure, comme Google Cloud Platform et Microsoft Azure. Enfin, je compte renforcer mes compétences en automatisation et en infrastructure en tant que code (IAC), en me formant sur des outils comme Terraform et Pulumi. En développant ces compétences, je pourrai gérer et déployer des infrastructures de serveurs Unix de manière plus efficace et rester à jour avec les tendances actuelles du secteur.
</p>
<img src="assets/img/servermanagement2.png" alt="Image related to future plans" style="max-height: 50vh; max-width: 80vw;"/>

<br>
<h2>Articles liés :</h2>
<a href="projects/edge-server">Déploiement automatisé de server</a><br>
<a href="projects/monitoring">Suivi à distance d'un parc de server</a><br>
</body>
<br>
<br>
<br>
