<br>
<body>
<h1>Début de mon master à In'tech</h1>
<br>
<h2>Présentation</h2>
<p>
  Période : Septembre 2018 à Juillet 2023<br>
</p>
<br>
<p>
  J'ai entamé mon parcours en Master à In'tech en septembre 2018, avec l'ambition de devenir un expert en ingénierie informatique. Ce cursus de cinq ans, qui s'étend jusqu'en juillet 2023, offre deux titres distincts : Expert en Ingénierie du Logiciel et Expert en Systèmes et Réseaux. La formation offerte par In'tech se démarque par son approche pédagogique axée sur les projets, en collaboration avec des acteurs clés du monde professionnel.
</p>
<br>
<p>
  Tout au long de mon parcours, j'ai eu l'opportunité de participer à divers projets informatiques et de formation humaine, qui se renouvellent chaque semestre. Les projets informatiques m'ont permis de développer mes compétences techniques dans des domaines tels que la programmation, l'analyse de données et la conception de systèmes. J'ai également pu apprendre à travailler en équipe et à gérer efficacement mon temps et mes ressources pour répondre aux exigences des projets.
</p>
<br>
<p>
  Quant aux projets de formation humaine, ils ont joué un rôle crucial dans le développement de mes compétences relationnelles et communicatives. Ces projets m'ont mis en situation réelle de travail avec des partenaires et des clients, me permettant d'apprendre à écouter, à comprendre les besoins des autres et à exprimer clairement mes idées. J'ai également acquis des compétences en gestion de conflits, en leadership et en travail collaboratif.
</p>
<br>
<p>
  La pédagogie par projet d'In'tech m'a offert l'occasion de travailler sur des problématiques concrètes et de m'immerger dans des environnements professionnels diversifiés. Cette approche m'a aidé à comprendre les enjeux du secteur informatique et à forger ma propre vision de l'avenir du domaine. Parallèlement à mes études, j'ai pu renforcer mon réseau professionnel et établir des contacts précieux pour ma future carrière.
</p>
<br>
<p>
  En somme, mon expérience à In'tech a été enrichissante et formatrice, me permettant de développer un éventail de compétences techniques et humaines essentielles pour réussir en tant qu'expert en ingénierie informatique.
</p>
<br>
<a href="https://www.intechinfo.fr/">Le site de l'école</a>
</body>
<br>
<br>
<br>
