<section class="timeline-section">
  <div class="DiagonalSeparator-cv"></div>
  <h2 class="section-title text-white">Mon Parcours</h2>
  <div id="centered line" class="section-title-underline"></div>

  <div id="cd-timeline" class="cd-container">

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location"> </div>
      <div class="cd-timeline-content">
        <p style="text-align: justify;">
          <img class="img-responsive cv-bloc-image" src="assets/img/projects/altaroad.jpg">
        </p>
        <h2>Développeur full stack chez Altaroad</h2>
        <p>Altaroad est une start-up deep tech innovante française qui s'est lancée dans une mission de rendre le secteur de la construction et du BTP plus durable.</p>
        <a [routerLink]="['/timeline', 'altaroad']" (click)="navigate('altaroad')">Lire plus</a>
        <span class="cd-date"><strong>Février 2021 - Aujourd'hui</strong></span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"></div>
      <div class="cd-timeline-content">
        <p style="text-align: justify;">
          <img class="img-responsive cv-bloc-image" src="assets/img/projects/dublin_01.jpg">
        </p>
        <h2>Voyage linguistique à Dublin</h2>
        <p>J'ai passé un mois en Irlande dans le but d'améliorer mon anglais, alternant entre le travail dans une ferme et la mise en place de serveur informatique pour l'église.</p>
        <a [routerLink]="['/timeline', 'dubin']" (click)="navigate('dubin')">Lire plus</a>
        <span class="cd-date"><strong>Février 2020</strong></span>
      </div>
    </div>


    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"></div>
      <div class="cd-timeline-content">
        <p style="text-align: justify;">
          <img class="img-responsive cv-bloc-image" src="assets/img/projects/meetincity_01.png">
        </p>
        <h2>Co-fondateur de Meet in city</h2>
        <p>Meet in City est une plateforme qui vous permet de rencontrer des personnes que ce soit dans un but amical ou en amour. Le concept ? «Pas de «tchat» ! Si les profils correspondent, un rendez-vous est proposé aux deux utilisateurs dans un lieu convivial.</p>
        <a [routerLink]="['/timeline', 'meet-in-city']" (click)="navigate('meet-in-city')">Lire plus</a>
        <span class="cd-date"><strong>Novembre 2019 - Aujourd'hui</strong></span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location"></div>
      <div class="cd-timeline-content">
        <p style="text-align: justify;">
          <img class="img-responsive cv-bloc-image" src="assets/img/projects/startintech_01.png">
        </p>
        <h2>Président de Start.in'tech</h2>
        <p>Start.in'tech est une association à but non-lucratif permettant de donner une suite aux projets, étudiants au sein d'In'tech. La prestation permet à nos clients de développer leurs projets à bas coût par une équipe de futurs experts et aux étudiants d'arrondir leur fin de mois tout en vivant une expérience professionnalisante.</p>
        <a [routerLink]="['/timeline', 'startintech']" (click)="navigate('startintech')">Lire plus</a>
        <span class="cd-date"><strong>Février 2019 - Mars 2021</strong></span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location"></div>
      <div class="cd-timeline-content">
        <p style="text-align: justify;">
          <img id="cv-bloc-image-intech" class="img-responsive cv-bloc-image" src="assets/img/logo-intech.png" style="height: 100px; object-fit: contain;">
        </p>
        <h2>Début de mon master à In'tech</h2>
        <p>IN’TECH est une École Supérieure d’Ingénierie Informatique, elle délivre en 5 ans un titre d’Expert en Ingénierie du Logiciel et un titre d’Expert en Systèmes et Réseaux.</p>
        <a [routerLink]="['/timeline', 'intech']" (click)="navigate('intech')">Lire plus</a>
        <span class="cd-date"><strong>Septembre 2018 - Juillet 2023</strong></span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"></div>
      <div class="cd-timeline-content">
        <p style="text-align: justify;">
          <img class="img-responsive cv-bloc-image" src="assets/img/chateau-margaux.png">
        </p>
        <h2>Ouvrier polyvalent - Château Margaux</h2>
        <p>Pour financer mon master à In'tech, j'ai travaillé un an après l'optention de mon bac notamment au châteaux Margaux</p>
        <a [routerLink]="['/timeline', 'margaux']" (click)="navigate('margaux')">Lire plus</a>
        <span class="cd-date"><strong>2017 - 2018</strong></span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"></div>
      <div class="cd-timeline-content">
        <p style="text-align: justify;">
          <img class="img-responsive cv-bloc-image" src="assets/img/google.png">
        </p>
        <h2>Ma première micro entreprise</h2>
        <p>Durant l'été 2017, j'ai fondé une micro entreprise de service informatique travaillant pour un sous traitant de Google. Mon travail était d'optimiser le moteur de recherche Google (SEO)</p>
        <span class="cd-date"><strong>Juin 2017 - Septembre 2017</strong></span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"></div>
      <div class="cd-timeline-content">
        <p style="text-align: justify;">
          <img class="img-responsive cv-bloc-image" src="assets/img/odilon-redon.jpg">
        </p>
        <h2>Lycée Odilon Redon</h2>
        <p>J'ai fait mon bac STI2D option Ecologie Environement au lycée Odilon Redon</p>
        <span class="cd-date"><strong>2014 - 2017</strong></span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"></div>
      <div class="cd-timeline-content">
        <p style="text-align: justify;">
          <img class="img-responsive cv-bloc-image" src="assets/img/code.jpg">
        </p>
        <h2>Début programmation</h2>
        <p>Début de mon apprentissage de la programmation en langage C</p>
        <span class="cd-date"><strong>2010</strong></span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"></div>
      <div class="cd-timeline-content">
        <p style="text-align: justify;">
          <img class="img-responsive cv-bloc-image" src="assets/img/canterane.jpeg">
        </p>
        <h2>Collège</h2>
        <p>4 ans au collège Canterane</p>
        <span class="cd-date"><strong>2010-2014</strong></span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"></div>
      <div class="cd-timeline-content">
        <p style="text-align: justify;">
          <img class="img-responsive cv-bloc-image" src="assets/img/internet.jpg">
        </p>
        <h2>Découverte d'internet</h2>
        <span class="cd-date"><strong>2007</strong></span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"></div>
      <div class="cd-timeline-content">
        <p style="text-align: justify;">
          <img class="img-responsive cv-bloc-image" src="assets/img/build-succeeded.png">
        </p>
        <h2>Nouvelle partie</h2>
        <p>Compilation et déploiement de mon nouveau personnage</p>
        <span class="cd-date"><strong>Avril 1999</strong></span>
      </div>
    </div>

  </div>
</section>
