<br>
<body>
<h1>Suivi à distance d'un parc de server</h1>
<br>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Le projet "<strong>Suivi à distance d'un parc de serveurs</strong>" concerne la mise en place d'un système de surveillance et de gestion à distance pour les serveurs de l'entreprise Altaroad. Ce système a été conçu pour aider l'équipe de monitoring à suivre en temps réel la performance, la disponibilité et l'utilisation des serveurs. Ainsi, il assure un service de qualité constante pour les clients. Pour réaliser ce projet, nous avons fait appel à divers outils et technologies tels que Grafana, InfluxDB, Prometheus et Ansible. Ces outils nous ont permis de collecter, de stocker, d'analyser et de présenter les données relatives à l'état et à la performance de notre parc de serveurs.
</p>
<img src="assets/img/monitoring1.jpg" alt="Image related to Server Monitoring Project" style="max-height: 50vh; max-width: 80vw;"/>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Le système de surveillance permet de suivre près de 150 indicateurs clés de performance (KPI) répartis en plusieurs catégories. Celles-ci comprennent les besoins des clients, la réactivité et la performance des serveurs, ainsi que la qualité du service rendu. L'objectif est de fournir à l'équipe de monitoring un tableau de bord clair et complet pour faciliter la détection des problèmes potentiels et prendre des décisions éclairées.
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;L'objectif principal du projet était d'assurer un suivi efficace et en temps réel de notre parc de serveurs. Nous voulions garantir leur disponibilité et leur performance pour nos clients. Les enjeux incluaient la satisfaction des clients, l'optimisation des ressources et l'anticipation des problèmes potentiels avant qu'ils n'affectent le service fourni. Les risques associés à ce projet étaient principalement liés à la dégradation de la qualité de service, aux temps d'arrêt inattendus et aux problèmes techniques non détectés à temps.
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Afin de répondre à ces défis, nous avons mis en place une solution de surveillance basée sur plusieurs outils et technologies, notamment Grafana, InfluxDB, Prometheus et Ansible. Notre ambition était de centraliser les données de performance, d'identifier les tendances et les problèmes éventuels et de fournir une vue d'ensemble claire et accessible à l'équipe de monitoring. En conséquence, nous avons amélioré notre capacité à détecter et à résoudre rapidement les incidents, garantissant ainsi la satisfaction et la confiance de nos clients.
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;L'implémentation de ce système a nécessité plusieurs étapes clés. D'abord, l'identification des KPI pertinents pour le suivi de notre parc informatique et la satisfaction des clients. Ensuite, la mise en place d'un système pour acquérir et collecter les données nécessaires à leur suivi. Enfin, la création d'un tableau de bord Grafana pour visualiser et présenter les KPI de manière claire et compréhensible.
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Cette réalisation est le fruit d'une collaboration étroite entre moi-même et l'équipe de monitoring basée à Tunis. Grâce à la mise en place du tableau de bord Grafana, l'équipe de monitoring a gagné un temps considérable dans la supervision du parc informatique. Les problèmes sont identifiés plus rapidement et les clients bénéficient d'une meilleure qualité de service.
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;En matière d'amélioration, l'objectif est de continuer à perfectionner le système de surveillance à distance. Nous envisageons l'ajout de nouveaux KPI et l'optimisation des processus de collecte et d'analyse des données. Ainsi, nous garantissons une performance optimale du parc informatique et une satisfaction maximale des clients.
</p>
<p>
  Ce projet m'a permis d'acquérir une compréhension approfondie des différentes technologies et outils de surveillance utilisés pour assurer la performance et la disponibilité des services informatiques. J'ai également appris l'importance de présenter les données de manière claire et compréhensible pour faciliter la prise de décision et la résolution des problèmes. Cependant, je suis conscient qu'il existe toujours des opportunités d'amélioration et que la surveillance d'un parc informatique est un processus continu. Ainsi, à l'avenir, je souhaite explorer d'autres solutions et technologies pour améliorer encore la qualité du suivi et la satisfaction des clients.
</p>
<img src="assets/img/monitoring2.jpg" alt="Image related to Lessons and Feedback" style="max-height: 50vh; max-width: 80vw;"/>
<br>
<br>
<p>
  Ce projet m'a permis de développer plusieurs compétences techniques et non techniques. <br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;Parmi les compétences techniques, j'ai notamment acquis une expertise dans l'utilisation de Grafana, InfluxDB, Prometheus et Ansible pour la collecte, le stockage et la visualisation des données. J'ai également renforcé mes compétences en analyse des performances, en gestion des incidents et en optimisation des ressources.<br>
  Sur le plan des compétences non techniques, j'ai amélioré ma capacité à travailler en équipe et à communiquer efficacement avec les membres de l'équipe de monitoring basée à Tunis. J'ai également développé ma capacité à identifier les besoins des clients et à proposer des solutions adaptées pour répondre à leurs attentes. <br>
  Enfin, j'ai affiné mon sens de l'organisation et de la gestion des priorités pour assurer un suivi efficace et une résolution rapide des problèmes rencontrés.
</p>
<br>
<h2>Articles liés :</h2>
<a href="skills/automation">Automatisation Intelligente</a><br>
<a href="skills/server-management">Gestion de serveur et parc Unix</a><br>
<a href="skills/autonomy">Autonomie</a><br>
</body>
<br>
<br>
<br>
