<br>
<body>
<h1>Président de Start.in'tech</h1>
<br>
<h2>Présentation</h2>
<p>
  Période : Février 2019 à Mars 2021<br>
</p>
<br>
<br>
<h2>Description de l'association</h2>
<p>
  Start.in'tech est une association à but non-lucratif visant à donner vie aux projets étudiants au sein de l'école In'tech. En offrant des prestations de qualité à des coûts réduits pour les clients et des opportunités professionnelles pour les étudiants, l'association facilite le développement de projets innovants tout en aidant les étudiants à acquérir une expérience précieuse et à compléter leurs revenus.
</p>
<br>
<h2>Responsabilités</h2>
<p>
  En tant que président de Start.in'tech, j'ai joué un rôle clé dans la gestion et la croissance de l'association. Mes responsabilités ont couvert un large éventail de domaines, allant de l'évaluation des projets et la gestion des équipes de développeurs, à l'accomplissement des tâches administratives et la mise en œuvre d'une vision à moyen et long terme pour l'association.
</p>
<br>
<h2>Missions principales :</h2>
<br>
<h3>Évaluation des projets</h3>
<p>
  J'ai été responsable de l'évaluation des projets soumis par les clients, en étudiant leurs besoins et en établissant des devis clairs et justes pour les prestations à fournir.
</p>
<br>
<h3>Gestion administrative et légale</h3>
<p>
  Avec l'aide du bureau de l'association, j'ai veillé au respect des obligations administratives et légales, en assurant notamment la bonne gestion des contrats, des factures et des documents officiels.
</p>
<br>
<h3>Encadrement des équipes de développeurs</h3>
<p>
  J'ai supervisé et encadré les équipes de développeurs étudiants, en veillant à ce qu'ils disposent des ressources et du soutien nécessaires pour mener à bien les projets qui leur étaient confiés.
</p>
<br>
<h3>Recrutement des développeurs</h3>
<p>
  J'ai évalué et recruté les étudiants en tant que développeurs pour les projets, en sélectionnant les candidats les plus compétents et les plus motivés.
</p>
<br>
<h3>Gestion des relations clients</h3>
<p>
  J'ai entretenu de bonnes relations avec les clients, en veillant à répondre à leurs besoins et en assurant un suivi régulier des projets en cours.
</p>
<br>
<p>
  Au cours de mon mandat de président de Start.in'tech, j'ai contribué à la croissance et au succès de l'association en mettant en place des processus solides et en favorisant un environnement propice à l'apprentissage et à l'épanouissement des étudiants. Grâce à cette expérience, j'ai acquis des compétences en gestion de projets, en leadership et en communication, qui m'ont été précieuses dans la suite de ma carrière.
</p>
<br>
</body>
<br>
<br>
<br>
