<br>
<body>
<h1>Meet in City</h1>
<br>
<p>
  La révolution numérique a transformé de nombreux aspects de notre vie, et le domaine des rencontres amoureuses n'en fait pas exception. Parmi les nombreuses plateformes de rencontres en ligne disponibles, une en particulier se distingue par son approche innovante : <strong>Meet in City</strong>. Accessible sur toutes les plateformes numériques et développée en React Native avec une API et des services cloud AWS, cette plateforme propose un modèle économique orienté vers les résultats. Au lieu de vous perdre dans une mer de profils, avec Meet in City, les utilisateurs se choisissent mutuellement et, en cas de réciprocité, un rendez-vous est organisé dans un lieu public selon leurs disponibilités.
</p>
<img src="assets/img/meetincity1.jpg" alt="Image related to future of Meet in City" style="max-height: 50vh; max-width: 80vw;"/>
<p>
  L'un des aspects uniques de Meet in City est l'organisation d'événements dans certains lieux pour favoriser les rencontres entre utilisateurs. Ces événements offrent une occasion d'interagir en personne dans un environnement détendu et convivial. En créant ces opportunités pour ses utilisateurs, Meet in City se positionne comme une alternative aux applications de rencontres traditionnelles.
</p>
<p>
  L'objectif principal de Meet in City est de fournir un service de qualité dans le secteur des rencontres en ligne. En effet, nous sommes conscients que certaines plateformes existantes peuvent être peu scrupuleuses, avec des abonnements coûteux et des garanties peu claires. Notre vision est d'offrir une alternative plus accessible et orientée vers les résultats, en veillant à ce que nos utilisateurs aient une expérience positive et bénéfique.
</p>

<p>
  Notre parcours a commencé en octobre 2019 avec le lancement du site web et 600 utilisateurs actifs sur Agen. Cependant, comme beaucoup d'entreprises, nous avons dû nous adapter à l'impact de la pandémie de COVID-19. Malgré les défis, nous avons tiré des enseignements précieux de cette expérience et avons continué à développer notre plateforme. En 2023, nous prévoyons de lancer une nouvelle version de notre application, enrichie de toutes les leçons apprises pendant ces années.
</p>
<p>
  Le développement et la croissance de Meet in City ont été rendus possibles grâce à l'effort concerté de plusieurs acteurs clés. En particulier, mon partenaire Judicael et moi-même avons travaillé sans relâche pour développer et améliorer l'entreprise. Bien que les résultats financiers soient encore modestes, nous avons acquis une expérience précieuse dans les domaines des API multiservices, des tests de charge et de la compréhension du marché des plateformes de rencontres.
</p>

<p>
  Pour l'avenir, nous sommes optimistes. Avec le lancement prévu de l'application sur les stores en 2023, nous sommes confiants dans la capacité de Meet in City à se développer et à se faire une place de choix dans le secteur des rencontres en ligne.
</p>
<p>
  En tant que co-fondateur et développeur, j'ai non seulement contribué à la création et au développement de Meet in City, mais j'ai aussi beaucoup appris. Gérer une start-up, nouer des partenariats, adapter une entreprise aux défis du marché et aux conditions externes - ce sont autant de compétences que j'ai acquises et développées tout au long de cette aventure.
</p>
<img src="assets/img/meetincity2.jpg" alt="Image related to future of Meet in City" style="max-height: 50vh; max-width: 80vw;"/>
<p>
  Finalement, ce qui importe le plus pour nous, c'est de respecter nos utilisateurs et leur désir de trouver des relations significatives. Nous nous sommes engagés à ne jamais exploiter la misère affective pour faire de l'argent facile et rapide. Nous croyons que les meilleures entreprises sont celles qui mettent leurs utilisateurs au premier plan, et nous nous efforçons de respecter cette conviction dans tout ce que nous faisons.
</p>
<br>
<br>
<p>
  Les principales compétences développées lors de cette réalisation sont :<br><br>

  - Développement d'applications multiplateformes (React Native, API, AWS)<br>
  - Gestion d'entreprise et partenariats<br>
  - Adaptation aux défis du marché et aux conditions externes<br>
  - Résister à faire de l'argent facile et rapide en exploitant la misère affective
</p>
<br>
<h2>Articles liés :</h2>
<a href="skills/build-app">Construire une application</a><br>
<a href="skills/build-api">Fournir une interface de programmation</a><br>
<a href="skills/autonomy">Autonomie</a><br>
<a href="skills/agile">Méthode Agile</a><br>
</body>
<br>
<br>
<br>

