<br>
<body>
<h1>Meet in City</h1>
<br>
<h2>Présentation</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Meet in City est une plateforme de rencontre innovante et accessible sur toutes les plateformes numériques. Elle propose un modèle économique orienté résultat, où les utilisateurs se choisissent mutuellement et, en cas de réciprocité, un rendez-vous est organisé dans un lieu public selon leurs disponibilités. Meet in City organise également des événements dans certains lieux pour favoriser les rencontres entre utilisateurs. L'application est développée en React Native avec une API et des services cloud AWS.
</p>
<br>
<h2>Objectif</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;L'objectif de Meet in City est de fournir un service de qualité dans le secteur des rencontres en ligne, en se démarquant des autres plateformes moins scrupuleuses. Face aux abonnements coûteux proposés par des acteurs comme Tinder, Meet in City vise à offrir une alternative plus accessible et orientée vers les résultats.
</p>
<br>
<h2>Étapes</h2>
<p>
  Octobre 2019 - Lancement du site web avec 600 utilisateurs actifs sur Agen et une vingtaine de contrats signés avec des établissements locaux.<br>
  2020-2021 - Impact de la pandémie de COVID-19 et des confinements sur l'activité, entraînant la faillite des partenaires et une tentative de déploiement sur Bordeaux.<br>
  2023 - Développement d'une nouvelle plateforme basée sur l'expérience acquise et lancement de l'application sur les stores.
</p>
<br>
<h2>Acteurs</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Les principaux acteurs du projet sont moi-même et mon partenaire Judicael, qui avons travaillé ensemble pour créer et développer l'entreprise.
</p>
<br>
<h2>Résultats</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Bien que les résultats financiers soient encore limités, Meet in City a permis d'acquérir une expérience précieuse dans les domaines des API multiservices, des tests de charge et du marché des plateformes de rencontre.
</p>
<br>
<h2>Avenir</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;L'avenir de Meet in City s'annonce prometteur, avec le lancement de l'application sur les stores prévu pour 2023 et des perspectives de croissance assurées par la nature même du marché des rencontres.
</p>
<br>
<h2>Critique</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;En tant que co-fondateur et développeur, j'ai contribué à la création et au développement de la plateforme. J'ai également tiré des enseignements importants sur la gestion d'une start-up et sur la manière d'adapter une entreprise aux défis posés par une crise globale.
</p>
<br>
<h2>Compétences</h2>
<p>
  Les principales compétences développées lors de cette réalisation sont :<br>

  - Développement d'applications multiplateformes (React Native, API, AWS)<br>
  - Gestion d'entreprise et partenariats<br>
  - Adaptation aux défis du marché et aux conditions externes<br>
  - Résister à faire de l'argent facile et rapide en exploitant la misère affective
</p>
<br>
<h2>Articles liés :</h2>
<a href="skills/build-app">Construire une application</a><br>
<a href="skills/build-api">Fournir une interface de programmation</a><br>
<a href="skills/autonomy">Autonomie</a><br>
<a href="skills/agile">Méthode Agile</a><br>
</body>
<br>
<br>
<br>

