<br>

<body>
  <h1>À propos de moi</h1>
  <p>
    Je suis un développeur Full Stack actuellement à l'oeuvre chez Altaroad et dans quelques autres projets.<br>
    Actuellement en train de terminer mon <strong>Master en informatique</strong> à l'école In'tech, j'ai un titre d'Expert en Ingénierie.<br>
    Je suis passionné par l'innovation et je m'efforce d'être à la pointe de la technologie, en me formant régulièrement pour rester compétitif dans le domaine.
  </p>

  <h2>Mes valeurs</h2>
  <p>
    En tant qu'Expert en Ingénierie, je suis soucieux de l'impact que mes actions ont sur les utilisateurs.<br>
    Pour moi, la <strong>responsabilité</strong> est primordiale, et je m'efforce de toujours offrir des solutions durables et adaptées aux besoins des utilisateurs.<br>
    Je suis convaincu que la technologie peut être un outil puissant pour améliorer la qualité de vie des gens et résoudre n'importe quel problème dans les limites des lois de la physique,
    à condition qu'elle soit utilisée de manière consciente et responsable.
  </p>

  <h2>Mon projet professionnel</h2>
  <p>
    Actuellement, je compte continuer mon travail en tant que développeur full stack au sein d'Altaroad, mon rôle et mon implication dans le projet a son importance dans la croissance de la start-up.<br>
    J'aimerais poursuivre mon activité en passant de 3 jours de télétravail par semaine à un télétravail complet.<br>
    Ainsi, je pourrais passer davantage de temps sur mes divers projets comme la création de la plateforme Meet in City,
    qui vise à connecter les gens de manière plus humaine et authentique, que ce soit pour des amitiés ou des relations amoureuses.
  </p>

  <h2>Mes qualités</h2>
  <p>
    En termes de qualités humaines, je suis connu pour être autonome, patient et déterminé.<br>
    Je suis passionné par la recherche de solutions innovantes et efficaces pour répondre aux besoins des utilisateurs.<br>
    Je suis également très attaché à la transparence et à la communication ouverte, qui sont des éléments clés dans la réussite d'un projet.<br>
    Enfin, je suis toujours prêt à apprendre et à m'adapter aux nouvelles technologies.
  </p>

  <h2>Mes centres d'intérêts</h2>
  <p>
    En-dehors du développement, la technologie et l'entrepreneuriat, il y a plusieurs domaines qui me permettent de me ressourcer et de découvrir de nouvelles choses.<br>
    <br>
    Voici deux exemples de mes centres d'intérêts :<br>
    <br>
    - <strong>L'Espace</strong> : depuis mon enfance, je suis fasciné par l'espace et tout ce qui le compose. J'aime suivre les dernières découvertes de la NASA et de l'ESA, ainsi que les dernières avancées dans la recherche en astrophysique et je suis toujours impressionné par les technologies utilisées pour explorer notre univers.<br>
    <br>
    - <strong>La Cuisine</strong> : j'aime cuisiner et découvrir de nouvelles recettes de la gastronomie française et du monde entier. J'aime apprendre les techniques culinaires traditionnelles et les adapter à mes propres recettes. J'aime expérimenter de nouvelles combinaisons de saveurs.<br>
    <br>
    Ces centres d'intérêts me permettent de me ressourcer et de m'inspirer dans mon travail de développement. Ils me permettent également de garder l'esprit ouvert et de continuer à apprendre de nouvelles choses.<br>
  </p>
  <br><br>
  Si vous recherchez un développeur expérimenté avec une approche responsable et consciente, n'hésitez pas à me contacter. Je serais ravi de collaborer avec vous sur vos projets futurs.
  <br>
  <br>
</body>

