<br>

<body class="text-justify">
  <h1>À propos de moi</h1>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;Je suis un <strong>développeur Full Stack</strong> dévoué, actuellement en plein cœur de l'innovation chez Altaroad, en parallèle de divers autres projets passionnants.<br>
    Mon parcours académique m'a mené à l'école In'tech où j'achève actuellement mon Master en Informatique, avec un titre d'Expert en Ingénierie déjà en poche.<br>
    Mon attrait pour l'innovation est insatiable. Je m'engage à rester à la pointe de la technologie, perpétuellement en quête d'apprentissage et de développement de nouvelles compétences pour rester compétitif dans ce domaine en constante évolution.
  </p>

  <h2>Mes valeurs</h2>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;En tant qu'Expert en ingénierie, je suis très conscient de l'impact que mes actions peuvent avoir sur les utilisateurs. La <strong>responsabilité</strong> est pour moi une priorité, et je m'efforce constamment de fournir des solutions durables et adaptées aux besoins de chaque utilisateur.<br>
    Je suis convaincu que la technologie, si elle est utilisée de manière éthique et responsable, a le potentiel de surmonter les défis les plus complexes et d'améliorer significativement la qualité de vie des gens.<br>
    Cette croyance guide mon approche et oriente mon travail quotidien.
  </p>

  <h2>Mon projet professionnel</h2>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;Dans le futur, je prévois de continuer mon travail de développeur full stack chez Altaroad, où mon rôle a contribué de manière significative à la croissance de la start-up.<br>
    Mon ambition est de passer à un modèle de télétravail à plein temps, ce qui me permettrait de dédier davantage de temps à mes projets personnels.<br>
    Parmi ceux-ci, la création de la plateforme Meet in City me tient particulièrement à cœur.<br>
    Cette plateforme a pour ambition de connecter les gens de manière plus authentique et humaine, qu'il s'agisse de nouer des amitiés ou de construire des relations amoureuses.
  </p>

  <h2>Mes qualités</h2>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;D'un point de vue humain, mes collaborateurs me décrivent souvent comme autonome, patient et déterminé.<br>
    Ma passion pour l'innovation me pousse constamment à chercher des solutions créatives et efficaces pour répondre aux besoins des utilisateurs.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;Je valorise la transparence et la communication ouverte, des éléments que je considère comme essentiels à la réussite de tout projet. De plus, je suis toujours prêt à apprendre et à m'adapter aux nouvelles technologies, car je sais que le domaine de l'informatique évolue constamment.
  </p>

  <h2>Mes centres d'intérêts</h2>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;Hors du domaine professionnel, je me passionne pour divers autres domaines qui enrichissent ma vie et alimentent mon inspiration.<br>
    Depuis mon enfance, l'espace et tout ce qui le compose me fascinent. Que ce soit les découvertes récentes de la NASA ou de l'ESA, ou les avancées en astrophysique, je suis constamment émerveillé par notre univers. Cela me rappelle l'importance de toujours rester curieux et d'apprendre de nouvelles choses.<br>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;De plus, je trouve un grand plaisir à cuisiner. J'aime explorer la richesse de la gastronomie française et des cuisines du monde, apprendre de nouvelles techniques culinaires traditionnelles et les adapter à mes propres recettes.<br>
    C'est une manière créative pour moi d'expérimenter de nouvelles combinaisons de saveurs et de partager des moments de bonheur avec mes proches.<br>
    <br>
    Ces passions me permettent de rester inspiré et de maintenir une ouverture d'esprit dans mon travail de développeur.<br>
  </p>
  <br><br>
  Si vous êtes à la recherche d'un développeur expérimenté qui approche son travail avec conscience et responsabilité, je serais ravi de collaborer avec vous sur vos projets futurs. N'hésitez pas à me contacter pour discuter de vos besoins et de la manière dont je peux contribuer à la réalisation de vos objectifs.
  <br>
  <br>
</body>

