<br>
<body>
<h1>Voyage linguistique à Dublin</h1>
<br>
<h2>Présentation</h2>
<p>
  Période : février 2020<br>
</p>
<br>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;En février 2020, j'ai décidé de partir en voyage linguistique à Dublin, en Irlande, pour améliorer mon niveau d'anglais. Durant cette expérience d'un mois, j'ai alterné entre le travail dans une ferme et l'assistance à la mise en place de serveurs informatiques pour une église.
</p>
<br>
<p>
  Afin de minimiser les coûts, j'ai choisi le concept de "wwoofing", où je travaillais en échange de l'hébergement et des repas. Mon hôte possédait une ferme près de Dublin, et je l'aidais avec diverses tâches agricoles, telles que l'élimination des ronces, la taille des arbres envahis par le lierre, l'extraction des souches d'arbres et les soins aux animaux. J'ai également aidé à remplir les réserves de bois de chauffage, ce qui m'a permis d'appliquer les compétences acquises lors de mes sessions de Tetris.
</p>
<br>
<p>
  Parallèlement au travail sur la ferme, j'accompagnais mon hôte dans la salle des archives de l'église Mount Argus à Dublin, où il travaillait en tant qu'archiviste. Son objectif était de numériser, stocker et classer les documents de l'église, pour lesquels il avait besoin d'un site web et d'un serveur de stockage. J'ai partagé mes connaissances en informatique avec lui, notamment en lui montrant comment utiliser l'auto-complétion dans le terminal et les outils de développement du navigateur. Grâce à ces compétences, il a pu gagner en efficacité et en autonomie dans son travail.
</p>
<br>
<p>
  Lors de deux visites à l'abbaye de Glenstal près de Limerick, j'ai eu l'occasion de rencontrer des moines archivistes et d'échanger avec eux sur leurs pratiques technologiques. Ces discussions m'ont permis de pratiquer mon anglais et d'apprendre de nouvelles choses.
</p>
<br>
<p>
  En conclusion, ce voyage linguistique à Dublin m'a permis de progresser considérablement en anglais et de vivre une expérience enrichissante et formatrice. J'ai pu découvrir la culture irlandaise, travailler dans des environnements variés et acquérir de nouvelles compétences. Cette expérience m'a également confirmé que je pouvais me débrouiller seul dans un pays étranger et m'adapter à diverses situations.
</p>
<br>
</body>
<br>
<br>
<br>
