<section class="title-screen-section">
  <div class="title-screen-content">
    <h1>Quentin Ansard</h1>
    <hr class="white-separator">
    <h2>Développeur Full Stack</h2>
    <h2 class="text-white">et</h2>
    <h2>Entrepreuneur</h2>
    <hr class="white-separator">
  </div>
  <a id="scroll-a" (click)="scrollToSection()"><span id="scroll-span"></span>Défiler</a>
</section>

<section id="presentation" class="presentation">
  <div>
    <h2 class="section-title">Présentation</h2>
    <div id="centered line" class="section-title-underline"></div>
  </div>
  <div id="presentation-layout">
      <article><img class="" src="assets/img/space-engineer.png" alt="Profil">
        <p style="margin-top:10px">Personnalité : <i class="fas fa-chess"></i><a href="https://www.16personalities.com/fr/la-personnalite-intj"> INTJ-A</a></p>
      </article>
      <article>
        <h3>Quentin Ansard, 23 ans</h3>
        <br>
        <p class="text-justify">Je suis developpeur Full Stack chez <a href="https://www.altaroad.com/">Altaroad</a> dans le cadre de mon master informatique à l'école <a href="https://www.intechinfo.fr/">In'tech</a> et futur diplômé d'un titre d'Expert dans ce domaine (BAC +5).</p>
        <p class="text-justify">Je passe beaucoup de temps sur mes projets Le plus connu en France doit être le projet Meet in City consistant en la création d'une plateforme permettant aux personnes de se rencontrer de manière plus humaine que ce soit pour nouer des amitiés ou bien pour des relations amoureuses.</p>
        <p class="text-justify">Hormis le développement, il y a bien d'autres activités qui m'intéressent énormément et qui sont pour moi des éléments essentiels dans le cadre professionnel comme par exemple :</p>
        <ul class="text-justify">
          <li>- La gestion de projet</li>
          <li>- La prise de décision</li>
          <li>- L'analyse des besoins</li>
        </ul>
        <p class="text-justify">Si jamais vous avez besoin de mon aide pour vos projets, n'hésitez pas à me contacter !</p>
      </article>
      <article>
        <div id="skills-container">
          <h3>Centres d'intérêt</h3>
          <ul>
            <li><i class="fas fa-code"></i> Développement</li>
            <li><i class="fas fa-globe-europe"></i> Entreprenariat</li>
            <li><i class="fas fa-space-shuttle"></i> Espace</li>
            <li><i class="fas fa-microscope"></i> Actualités Technologiques</li>
            <li><i class="fas fa-robot"></i> Automatisation Intelligente</li>
            <li><i class="fas fa-utensils"></i> Cuisine</li>
            <li><i class="fas fa-plane"></i> Aéronautique</li>
            <li><i class="fas fa-mug-hot"></i> Café</li>
          </ul>

          <h3>Qualités personnelles</h3>
          <ul class="unstyled">
            <li><i class="fas fa-fist-raised"></i> Détermination</li>
            <li><i class="fas fa-child"></i> Autonomie</li>
            <li><i class="fas fa-user-tie"></i> Savoir-être</li>
            <li><i class="fas fa-tasks"></i> Organisation / Gestion</li>
            <li><i class="fas fa-running"></i> Réactivité</li>
            <li><i class="fas fa-info"></i> Veille technologique</li>
            <li><i class="fas fa-user-ninja"></i> Rigueur / Flexibilité</li>
            <li><i class="fas fa-user-clock"></i> Ponctualité</li>
            <li><i class="fas fa-leaf"></i> Green IT</li>
            <li><i class="fas fa-id-badge"></i> Permis B</li>
            <li><i class="fas fa-language"></i> TOEIC : 810 points</li>
          </ul>
        </div>
      </article>
    </div>
    <div class="DiagonalSeparator-presentation"></div>
</section>

<section class="diplomes">
  <div class="DiagonalSeparator-diplome-start"></div>
  <h3 class="section-title text-white">Diplômes et certification</h3>
  <div id="centered line" class="section-title-underline"></div>

  <ul id="diplome-container">
    <li class="diplome-card">
      <div>
        <div class="container-diplome">
          <img class="img-diplome img-responsive" src="assets/img/bia.jpg" alt="" />
          <div class="overlay"></div>
        </div>
        <div class="diplome-text">
          <h4 class="diplome-text-title">Brevet d'Initiation Aéronautique</h4>
          <p class="diplome-text-secondline">2014-2015 : Lycée Odilon Redon - Pauillac (33)</p>
        </div>
      </div>
    </li>

    <li class="diplome-card">
      <div>
        <div class="container-diplome">
          <img class="img-diplome img-responsive" src="assets/img/bac.jpg" alt="Diplome du Baccalauréat" />
          <div class="overlay"></div>
        </div>
        <div class="diplome-text">
          <h4 class="diplome-text-title">Baccalauréat STI2D - Option Ecologie Environnement</h4>
          <p class="diplome-text-secondline">2014-2017 : Lycée Odilon Redon - Pauillac (33)</p>
        </div>
      </div>
    </li>

    <li class="diplome-card">
      <div>
        <div class="container-diplome">
          <img class="img-diplome img-responsive" src="assets/img/intech.jpg" alt="" />
          <div class="overlay"></div>
        </div>
        <div class="diplome-text">
          <h4 class="diplome-text-title">Expert en Technologies de l'information</h4>
          <p class="diplome-text-secondline">2018-2023 : IN’TECH, École Supérieure d’Ingénierie Informatique</p>
        </div>
      </div>
    </li>
  </ul>
  <div class="DiagonalSeparator-diplome-end"></div>
</section>

<section class="timeline-section">
  <div class="DiagonalSeparator-cv"></div>
  <h2 class="section-title text-white">Mon Parcours</h2>
  <div id="centered line" class="section-title-underline"></div>

  <div id="cd-timeline" class="cd-container">

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location"> </div>
      <div class="cd-timeline-content">
        <h2>Entrée à Altaroad</h2>
        <p style="text-align: justify;"><img class="img-responsive cv-bloc-image" src="assets/img/projects/altaroad.jpg">
          Altaroad est une start-up deep tech innovante française qui s'est lancée dans une mission de rendre le secteur de la construction et du BTP plus durable.</p>
        <p style="text-align: justify;">Altaroad allie l'augmentation de la sécurité routière à la performance économique de ses clients en évitant les situations à risque et la diminution de l'impact environnemental des chantiers via la traçabilité des matériaux transportés et l'optimisation des flux.</p>
        <a [routerLink]="['/timeline', 'altaroad']" (click)="navigate('altaroad')">Lire plus</a>
        <span class="cd-date"><strong>Février 2021</strong></span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"></div>
      <div class="cd-timeline-content">
        <h2>Co-fondateur de Meet in city</h2>
        <p style="text-align: justify;"><img class="img-responsive cv-bloc-image" src="assets/img/projects/meetincity_01.png">
          Meet in City est une plateforme qui vous permet de rencontrer des personnes que ce soit dans un but amical ou amoureux. Le concept ? «Pas de «tchat» ! Si les profils correspondent, un rendez-vous est proposé aux deux utilisateurs dans un lieu convivial. </p>
        <a [routerLink]="['/timeline', 'meet-in-city']" (click)="navigate('meet-in-city')">Lire plus</a>
        <span class="cd-date"><strong>Novembre 2019</strong></span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location"></div>
      <div class="cd-timeline-content">
        <h2>Début de mon master à In'tech</h2>
        <p style="text-align: justify;"><img id="cv-bloc-image-intech" class="img-responsive cv-bloc-image" src="assets/img/logo-intech.png">
          IN’TECH est une École Supérieure d’Ingénierie Informatique, elle délivre en 5 ans un titre d’Expert en Ingénierie du Logiciel et un titre d’Expert en Systèmes et Réseaux. La grande force d'In'tech est sa pédagogie par projet avec de vrai acteur du monde professionel. Chaque semestre, les étudiants ont un projet informatique et un projet de formation humaine à réaliser, ces derniers nous permettent de renforcer nos compétences relationnelles et communicationnelles</p>
        <span class="cd-date"><strong>Septembre 2018</strong></span>
      </div>
    </div>
  </div>
  <div class="button-container" style="text-align:center">
    <button routerLink="/timeline" type="button" class="btn btn-default" style="border-radius:20px; background-color: #ffffff !important;">
      <i class="fas fa-chevron-circle-right">  Voir la timeline complète</i>
    </button>
  </div>
  <br>
</section>

<section class="competences">
  <div id="skills-divider-top">
    <svg class="divider-top" viewBox="0 0 100 100" preserveAspectRatio="none">
      <path d="M0 0 L50 100 L100 0 Z"></path>
    </svg>
  </div>
  <div>
    <section id="competences-layout">
      <article>
          <h2 class="text-center mt-3">Environnements</h2>
          <ul class="mt-5">
            <li class="lead"><i class="devicon-linux-plain"></i> GNU/Linux</li>
            <li class="lead"><i class="devicon-windows8-original"></i> Windows</li>
            <li class="lead"><i class="devicon-android-plain"></i> Android</li>
            <li class="lead"><i class="devicon-git-plain"></i> Git</li>
            <li class="lead"><i class="devicon-docker-plain"></i> Docker</li>
          </ul>
      </article>
      <article>
          <h2 class="text-center mt-3">Compétences principales</h2>
          <ul class="mt-5">
            <li class="lead"><i class="devicon-typescript-plain"></i> Typescript</li>
            <li class="lead"><i class="devicon-angularjs-plain"></i> Angular</li>
            <li class="lead"><i class="devicon-react-plain"></i> React Native</li>
            <li class="lead"><i class="devicon-java-plain"></i> Java / Spring</li>
            <li class="lead"><i class="devicon-symfony-original"></i> Symfony</li>
            <li class="lead"><i class="devicon-python-plain"></i> Python</li>
            <li><i class="fas fa-robot"></i> Automatisation Intelligente</li>
          </ul>
      </article>
      <article>
          <h2>Autres compétences</h2>
          <ul>
            <li class="lead"><i class="devicon-trello-plain"></i> Agilité</li>
            <li class="lead"><i class="fas fa-network-wired"></i> SEO</li>
            <li class="lead"><i class="devicon-c-plain"></i> C</li>
            <li class="lead"><i class="fas fa-store"></i> E-commerce</li>
            <li class="lead"><i class="devicon-debian-plain"></i> Administration système Linux</li>
            <li class="lead"><i class="fas fa-film"></i> Montage vidéo</li>
            <li class="lead"><i class="fab fa-unity"></i> Unity</li>
          </ul>
      </article>
    </section>
  </div>
  <div style="background: #102026;">
    <svg class="divider" viewBox="0 0 100 100" preserveAspectRatio="none">
      <path d="M0 0 L50 100 L100 0 Z" style="background-color: #f0f3f8;"></path>
    </svg>
  </div>
</section>


