<br>
<body>
<h1>Ouvrier polyvalent - Château Margaux</h1>
<br>
<h2>Présentation</h2>
<p>
  Période : 2017 à 2018<br>
</p>
<br>
<br>
<p>
  Avant de commencer mon Master à In'tech, j'ai décidé de travailler pendant un an pour financer mes études. J'ai eu l'opportunité d'intégrer le prestigieux Château Margaux en tant qu'ouvrier polyvalent de 2017 à 2018. Cette expérience m'a permis de découvrir un secteur d'activité différent de l'informatique et de développer de nouvelles compétences professionnelles.
</p>
<br>
<p>
  Au sein du Château Margaux, j'ai occupé divers postes, tant dans les vignes qu'à l'usine. J'ai participé activement à la récolte du raisin, à la taille des vignes, ainsi qu'à l'entretien des parcelles. Ces tâches m'ont appris l'importance du travail en équipe et du respect des consignes pour garantir la qualité du produit final.
</p>
<br>
<p>
  À l'usine, j'ai été amené à travailler sur une chaîne de production, où j'ai effectué diverses opérations, telles que le contrôle qualité, l'embouteillage et l'étiquetage. J'ai également été amené à travailler de nuit, avec des horaires décalés et de grandes amplitudes horaires. Ces expériences m'ont appris à m'adapter rapidement à de nouvelles situations, à gérer mon temps et à respecter les cadences imposées.
</p>
<br>
<p>
  Lors cette période, j'ai également découvert le monde de l'intérim. Ce type de contrat m'a permis de développer ma flexibilité, ma polyvalence et ma capacité à m'intégrer rapidement au sein de nouvelles équipes.
</p>
<br>
<p>
  Cette année m'a apporté une compréhension plus large du monde professionnel et m'a permis de renforcer mes compétences en matière de travail en équipe, d'adaptabilité et d'endurance face à l'effort. Bien que différent du secteur informatique, ce parcours m'a été bénéfique pour aborder avec succès mon Master à In'tech et mes futurs défis professionnels.
</p>
<br>
</body>
<br>
<br>
<br>
