<br>
<body>
<h1>Déploiement automatisé de edge server</h1>
<br>
<h2>Présentation</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Le déploiement automatisé de edge server au sein d'Altaroad est un projet visant à accélérer et à simplifier le processus de préparation et d'installation des serveurs sur les chantiers, depuis leur réception jusqu'à leur mise en service. Le projet consiste à mettre en place un script de déploiement automatique pour éviter les erreurs et les différences de version entre les serveurs lors de leur installation.<br><br>
  Le déploiement manuel d'un serveur nécessite plusieurs étapes laborieuses, telles que l'insertion de la carte SIM, l'installation de la distribution Linux, la configuration des accès VPN sur le pare-feu de l'entreprise via AWS et pfSense, l'installation des logiciels nécessaires à la production, ainsi que la configuration du serveur lui-même. Ces étapes peuvent être sources d'erreurs et provoquer des différences de version entre les serveurs.
</p>
<br>
<h2>Objectif</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;L'objectif principal de ce projet est de gagner du temps et de l'efficacité dans le déploiement des serveurs sur les chantiers. En automatisant ce processus, il est possible de réduire les erreurs et de faciliter le travail de l'équipe de déploiement sur le terrain.
</p>
<br>
<h2>Étapes</h2>
<p>
  2021 - Les serveurs arrivent par palettes, et leur déploiement est réalisé manuellement, ce qui est source d'erreurs et de différences de version.<br>
  2022 - Le script de déploiement automatisé est mis en place, réduisant la charge de travail de 90% et permettant des déploiements parallélisés.
</p>
<br>
<h2>Acteurs</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Les principaux acteurs du projet sont moi-même et l'équipe de déploiement sur chantier, qui travaillent ensemble pour optimiser le processus de déploiement des serveurs.
</p>
<br>
<h2>Résultats</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Grâce au déploiement automatisé, l'équipe de déploiement gagne un temps considérable dans la préparation des serveurs, permettant ainsi de déployer davantage de chantiers en moins de temps. Cela est particulièrement bénéfique compte tenu de l'augmentation du nombre de chantiers et de leur éloignement de Paris.
</p>
<br>
<h2>Avenir</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Dans un futur proche, l'utilisation de Raspberry Pi pour les chantiers ne nécessitant pas tous les équipements Altaroad est envisagée, permettant une réduction des coûts et une meilleure adaptabilité aux besoins spécifiques de chaque chantier.
</p>
<br>
<h2>Critique</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Ce projet a permis d'apporter une réelle amélioration au processus de déploiement des serveurs sur les chantiers, en réduisant considérablement le temps et les erreurs liées à l'installation manuelle. Mon rôle a été crucial dans la mise en place du script de déploiement automatique et l'amélioration continue de cette solution.
</p>
<br>
<h2>Compétences</h2>
<p>
  Les principales compétences développées lors de cette réalisation sont :<br>

  - Automatisation des processus (script de déploiement en Ansible)<br>
  - Gestion de projet et coordination avec l'équipe de déploiement sur chantier<br>
  - Optimisation des ressources et adaptation aux besoins spécifiques des chantiers
</p>
<br>
<h2>Article lié :</h2>
<a href="skills/server-management">Gestion de serveur et parc Unix</a><br>
<a href="skills/autonomy">Autonomie</a><br>
<a href="skills/english">Anglais</a><br>
</body>
<br>
<br>
<br>

