<br>
<body>
<h1>Déploiement automatisé de edge server</h1>
<br>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;L'un des projets les plus significatifs sur lesquels j'ai eu l'opportunité de travailler chez <strong>Altaroad</strong> concerne le <strong>déploiement automatisé de edge servers</strong>. C'était une initiative visant à accélérer et à simplifier le processus de préparation et d'installation des serveurs sur nos chantiers, en allant de la réception à la mise en service.
</p>
<img src="assets/img/edgeServer1.png" alt="Image showing the Digitrack application" style="max-height: 50vh; max-width: 80vw;"/>

<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Traditionnellement, le déploiement manuel d'un serveur nécessite plusieurs étapes laborieuses : l'insertion de la carte SIM, l'installation de la distribution Linux, la configuration des accès VPN sur le pare-feu de l'entreprise via AWS et pfSense, l'installation des logiciels de production, et enfin la configuration du serveur lui-même. Non seulement ces étapes sont chronophages, mais elles peuvent aussi être sources d'erreurs et provoquer des différences de version entre les serveurs.
</p>

<p>
  &nbsp;&nbsp;&nbsp;&nbsp;L'objectif de ce projet était donc de gagner du temps et en efficacité dans le déploiement des serveurs sur les chantiers. En automatisant ce processus, nous pouvions non seulement réduire les erreurs, mais aussi faciliter le travail de l'équipe de déploiement sur le terrain.
</p>

<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Ce projet a connu plusieurs étapes clé. En 2021, les serveurs arrivaient par palettes et leur déploiement était réalisé manuellement. Cela provoquait des erreurs et des différences de version. En 2022, nous avons mis en place un script de déploiement automatisé. Ce changement a permis de réduire la charge de travail de 90% et a permis des déploiements parallélisés.
</p>

<p>
  &nbsp;&nbsp;&nbsp;&nbsp;En tant que responsable du projet, j'ai travaillé en étroite collaboration avec l'équipe de déploiement sur le terrain. Notre objectif commun était d'optimiser le processus de déploiement des serveurs.
</p>

<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Les résultats ont été très positifs. Grâce au déploiement automatisé, l'équipe de déploiement a pu gagner un temps considérable dans la préparation des serveurs. Cela a permis de déployer davantage de chantiers en moins de temps, ce qui était essentiel compte tenu de l'augmentation du nombre de chantiers et de leur éloignement de Paris.
</p>

<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Dans le futur, nous envisageons l'utilisation de Raspberry Pi pour les chantiers qui ne nécessitent pas tous les équipements Altaroad. Cela pourrait permettre une réduction des coûts et une meilleure adaptabilité aux besoins spécifiques de chaque chantier.
</p>

<p>
  Ce projet a été une expérience d'apprentissage et de croissance enrichissante pour moi. J'ai été en mesure de développer mes compétences en automatisation des processus grâce à la création du script de déploiement en Ansible. J'ai également renforcé mes compétences en gestion de projet et coordination d'équipe. En fin de compte, ce projet a permis d'apporter une amélioration significative à notre processus de déploiement, en réduisant le temps dédié à l'installation manuelle ainsi que les erreurs qui y sont associées.
</p>

<img src="assets/img/edgeServer2.jpg" alt="Image showing the Digitrack application" style="max-height: 50vh; max-width: 80vw;"/>

<br>
<br>
<p>
  Les principales compétences développées lors de cette réalisation sont :<br><br>

  - Automatisation des processus (script de déploiement en Ansible)<br>
  - Gestion de projet et coordination avec l'équipe de déploiement sur chantier<br>
  - Optimisation des ressources et adaptation aux besoins spécifiques des chantiers
</p>
<br>
<h2>Articles liés :</h2>
<a href="skills/server-management">Gestion de serveur et parc Unix</a><br>
<a href="skills/autonomy">Autonomie</a><br>
<a href="skills/english">Anglais</a><br>
</body>
<br>
<br>
<br>

