<br>
<body>
<h1>Co-fondateur et Développeur chez Meet in City</h1>
<br>
<h2>Présentation</h2>
<p> Période : Novembre 2019 à aujourd'hui</p>
<br>
<h2>Description de l'entreprise</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Meet in City est une plateforme de rencontre innovante qui vise à connecter les personnes à la recherche de relations amicales ou amoureuses. Contrairement aux autres plateformes de rencontre, Meet in City mise sur la rencontre en personne plutôt que sur les échanges en ligne. Lorsque deux profils sont compatibles, un rendez-vous est organisé dans un lieu convivial, favorisant ainsi les rencontres authentiques et les connections durables.
</p>
<br>
<h2>Responsabilités</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;En tant que co-fondateur et développeur de Meet in City, j'ai endossé plusieurs responsabilités, depuis la création de l'entreprise jusqu'à son développement actuel. Mon rôle a évolué au fil du temps pour inclure des tâches variées, allant du développement technique à la gestion de l'équipe.
</p>
<br>
<h2>Missions principales</h2>
<br>
<h3>Conception et développement de la plateforme</h3>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;J'ai été impliqué dans la conception et le développement de la plateforme Meet in City depuis ses débuts. Mon rôle a consisté à créer et optimiser les fonctionnalités de l'application, en utilisant des technologies telles que React native et les services cloud. J'ai également travaillé sur l'architecture de la base de données et l'API pour assurer la fluidité des interactions entre les utilisateurs et la plateforme.
</p>
<br>
<h3>Gestion de projet</h3>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;En tant que co-fondateur, j'ai été responsable de la coordination et de la supervision de l'équipe de développement, en veillant à ce que les objectifs du projet soient atteints dans les délais impartis. J'ai également travaillé en étroite collaboration avec les autres co-fondateurs pour définir la stratégie globale de l'entreprise et les orientations futures.
</p>
<br>
<h3>Marketing et relations publiques</h3>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;J'ai participé activement aux efforts de marketing et de communication de l'entreprise, en mettant en place des campagnes publicitaires et en organisant des événements pour promouvoir Meet in City auprès du grand public. J'ai également entretenu des relations avec les partenaires, en présentant régulièrement les progrès et les réussites de l'entreprise.
</p>
<br>
<h3>Support et maintenance</h3>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;J'ai assuré le support technique auprès des utilisateurs de la plateforme, en répondant à leurs questions et en résolvant les problèmes rencontrés. J'ai également été chargé de la maintenance et de la mise à jour régulière de la plateforme, afin d'assurer une expérience utilisateur optimale.
</p>
<br>
<h2>Vision de l'entreprise</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Meet in City est, à mes yeux, une entreprise qui redéfinit la manière dont les gens se rencontrent et interagissent, en privilégiant les rencontres réelles plutôt que les échanges virtuels. Je suis convaincu que cette approche contribue à créer des liens plus profonds et durables entre les personnes, en leur offrant des expériences authentiques et enrichissantes. En travaillant chez Meet in City, j'ai eu l'opportunité de contribuer à cette vision en développant une plateforme qui facilite ces rencontres et en mettant en avant l'importance des connections humaines.
</p>
<br>
<h2>Articles liés :</h2>
<a href="projects/meet-in-city">Le projet Meet in City</a><br>
<a href="skills/build-app">Construire une application</a><br>
<a href="skills/build-api">Construire une Api</a><br>
</body>
<br>
<br>
<br>
