<br>
<body>
<h1>Digitrack</h1>
<br>
<h2>Présentation</h2>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Digitrack est une application web innovante conçue pour assurer la traçabilité des chantiers du Grand Paris, des Jeux Olympiques 2024 et de nombreux autres projets en France et à l'étranger. Cette interface facilite la gestion des camions entrant et sortant des sites en utilisant des capteurs et une technologie avancée pour identifier, peser et remplir automatiquement les déclarations légales sans interrompre le flux de trafic. L'application est développée en Angular et s'appuie sur une API Java JPA ainsi que sur les services AWS.
</p>
<br>
<h2>Objectif</h2>
<p>&nbsp;&nbsp;&nbsp;&nbsp;L'objectif de Digitrack est d'optimiser la traçabilité et la gestion des chantiers en fournissant une solution automatisée et intégrée pour les arrivées et les sorties des camions. Les enjeux sont importants, car l'application doit gérer les zones d'extraction de matière, les exutoires, les zones de stockage, les véhicules comme les camions, ainsi que les déclarations de suivi des déchets, tout en s'adaptant aux lois locales et à la langue de l'utilisateur.
</p>
<br>
<h2>Étapes</h2>
<p>
  Été 2021 - Refonte du projet de Vue.js à Angular, avec une refonte totale de l'interface utilisateur et de l'ergonomie.<br><br>
  2021 - Ajout des pages de gestion pour chaque véhicule, exutoire, zone de stockage et transporteur, avec une standardisation du fonctionnement grâce à de nombreuses options.<br><br>
  2022 - Mise en place d'actions multiples, importation et exportation des données, ainsi que la création de passage en une photo via un OCR.
</p>
<br>
<h2>Acteurs</h2>
<p></p>
Les principaux acteurs du projet sont moi-même,<br>
Maelle qui gère l'équipe plateforme, <br>
Heykel et Aziz en la qualité de développeurs senior front<br>
Isadora, développeuse back-end senior,<br>
Rym en tant que testeuse de l'applications,<br>
et Olfa actuellement en stage.<br>
Nous avons travaillé tous ensemble pour développer et améliorer l'application au fil du temps.
<br>
<h2>Résultats</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Grâce à Digitrack, les clients sont très satisfaits et de plus en plus nombreux. L'application a été si bien accueillie qu'ils en font la promotion auprès de leurs confrères, contribuant ainsi à la croissance de l'entreprise.
</p>
<br>
<h2>Avenir</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;L'avenir de Digitrack s'annonce prometteur, avec une amélioration continue des fonctionnalités et une évolution vers une Progressive Web App (PWA) puis vers une Trusted Web Activity (TWA).
</p>
<br>
<h2>Critique</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;En tant que développeur, j'ai apporté une contribution significative à la refonte de l'application et à l'ajout de nouvelles fonctionnalités. J'ai également tiré des enseignements précieux en matière de gestion de projet et de collaboration avec d'autres membres de l'équipe.
</p>
<br>
<h2>Compétences</h2>
<p>
  Les principales compétences développées lors de cette réalisation sont :<br>
  - Développement front-end en Angular<br>
  - Développement back-end avec Java Spring Boot JPA<br>
  - Utilisation des services cloud AWS (EC2, S3, Lambda, Fargate)<br>
  - Gestion de projet Agile et travail en équipe<br>
  - Adaptation aux besoins et aux spécificités des clients<br>
  - Grande adaptation aux changements de spécifications<br>
</p>
<br>
<h2>Articles liés :</h2>
<a href="skills/build-app">Construire une application</a><br>
<a href="skills/build-api">Fournir une interface de programmation</a><br>
<a href="skills/autonomy">Autonomie</a><br>
<a href="skills/agile">Méthode Agile</a><br>
</body>
<br>
<br>
<br>
