<br>
<body>
<h1>Digitrack</h1>
<br>
<p>
  <strong>Digitrack</strong> est une application web innovante conçue pour garantir la traçabilité des chantiers du Grand Paris, des Jeux Olympiques 2024 et de nombreux autres projets en France et à l'étranger. En utilisant une combinaison de capteurs de pointe et de technologie de pointe, cette interface simplifie la gestion des camions entrant et sortant des sites en identifiant, pesant et remplissant automatiquement les déclarations légales sans interrompre le flux de trafic. La plateforme est construite en utilisant <strong>Angular</strong> pour l'interface utilisateur, une API Java JPA pour le back-end, et une suite de services AWS pour le stockage et le calcul.
</p>
<img src="assets/img/digitrack1.jpg" alt="Image showing the Digitrack application" style="max-height: 50vh; max-width: 80vw;"/>
<p>
  Le principal objectif de Digitrack est d'optimiser la traçabilité et la gestion des chantiers en offrant une solution automatisée et intégrée pour le mouvement des camions. L'application a la lourde tâche de gérer divers aspects du chantier, y compris les zones d'extraction de matériaux, les sites de dépôt, les zones de stockage, ainsi que les véhicules comme les camions et leurs correspondantes déclarations de suivi des déchets. Tout cela en s'adaptant aux lois locales et à la langue de l'utilisateur, ce qui représente un défi considérable en termes d'internationalisation et de conformité.
</p>

<p>
  Le développement de Digitrack a été un voyage passionnant et plein de défis. En 2021, l'application a été refondue de Vue.js à Angular, avec une refonte totale de l'interface utilisateur et de l'ergonomie pour améliorer l'expérience utilisateur. Au fil du temps, de nouvelles pages de gestion pour chaque véhicule, exutoire, zone de stockage et transporteur ont été ajoutées, ce qui a permis de standardiser le fonctionnement de l'application grâce à une multitude d'options. De plus, des fonctionnalités comme l'importation et l'exportation de données et la création de passage en une photo via OCR ont été ajoutées pour augmenter la flexibilité et la commodité pour les utilisateurs.
</p>

<p>
  L'équipe derrière Digitrack est une équipe multitalentueuse composée de développeurs front et back-end, de chefs de projet et de testeurs d'applications. Ensemble, nous avons travaillé sans relâche pour développer et améliorer l'application au fil du temps, en surmontant les défis et en saisissant les opportunités au fur et à mesure qu'ils se présentaient.
  <br><br>
  Les principaux acteurs du projet sont moi-même,<br>
  - Maelle qui gère l'équipe plateforme, <br>
  - Heykel et Aziz en la qualité de développeurs senior front<br>
  - Isadora, développeuse back-end senior,<br>
  - Rym en tant que testeuse de l'applications,<br>
  et Olfa actuellement en stage.<br>
  <br>
  Nous avons travaillé tous ensemble pour développer et améliorer l'application au fil du temps.
</p>

<p>
  Les efforts de l'équipe ont porté leurs fruits, avec une réception très positive de l'application par les clients. L'efficacité de Digitrack a été telle que de nombreux clients font la promotion de l'application auprès de leurs homologues, ce qui contribue à accroître la portée et la croissance de l'entreprise.
</p>

<p>
  En tant que développeur, j'ai joué un rôle significatif dans la refonte de l'application et l'ajout de nouvelles fonctionnalités. Cela m'a offert l'occasion d'apprendre et de grandir en tant que professionnel, en acquérant une expérience précieuse en gestion de projet et en collaboration avec d'autres membres de l'équipe.
</p>

<p>
  À l'avenir, Digitrack continuera à évoluer, avec des améliorations continues des fonctionnalités et une transition vers une Progressive Web App (PWA) puis vers une Trusted Web Activity (TWA). J'ai hâte de continuer à contribuer à cette évolution et de voir comment Digitrack continuera à transformer la traçabilité et la gestion des chantiers dans les années à venir.
</p>
<img src="assets/img/digitrack2.png" alt="Image showing the Digitrack application" style="max-height: 50vh; max-width: 80vw;"/>

<p>
  Les principales compétences développées lors de cette réalisation sont :<br>
  <br>
  - Développement front-end en Angular<br>
  - Développement back-end avec Java Spring Boot JPA<br>
  - Utilisation des services cloud AWS (EC2, S3, Lambda, Fargate)<br>
  - Gestion de projet Agile et travail en équipe<br>
  - Adaptation aux besoins et aux spécificités des clients<br>
  - Grande adaptation aux changements de spécifications<br>
</p>
<br>
<h2>Articles liés :</h2>
<a href="skills/build-app">Construire une application</a><br>
<a href="skills/build-api">Fournir une interface de programmation</a><br>
<a href="skills/autonomy">Autonomie</a><br>
<a href="skills/agile">Méthode Agile</a><br>
</body>
<br>
<br>
<br>
