<br>
<body>
<h1>Construire une application</h1>
<br>
<p>
  <strong>Construire une application</strong>, c'est bien plus qu'un simple processus technique. C'est un art, l'art de transformer une idée, un besoin ou un problème en une solution logicielle qui peut être utilisée sur diverses plateformes - le web, les mobiles ou les bureautiques. C'est un processus qui englobe plusieurs étapes, allant de la conception au développement, en passant par l'intégration et la maintenance. L'objectif est de créer une application qui répond non seulement aux besoins et aux attentes des utilisateurs, mais qui est également performante, sécurisée et facile à utiliser.
</p>
<p>
  Dans le contexte actuel où la technologie et le numérique sont omniprésents, la construction d'applications revêt une importance capitale. Les entreprises de tous les secteurs cherchent constamment à innover, à optimiser leurs services et à se démarquer de la concurrence. Pour ce faire, elles s'appuient sur des langages de programmation modernes tels que <strong>TypeScript</strong> et des frameworks tels que <strong>Angular</strong> ou <strong>React Native</strong>.
</p>
<img src="assets/img/buildapp1.png" alt="Image related to Application Building" style="max-height: 50vh; max-width: 80vw;"/>

<p>
  Depuis que j'ai débuté ma carrière professionnelle en tant que développeur, j'ai eu l'opportunité de travailler sur de nombreux projets de construction d'applications. Que ce soit pour répondre à un besoin spécifique d'un client, améliorer l'expérience utilisateur, optimiser les processus métier ou créer des solutions innovantes, chaque projet était une occasion unique d'apprendre, d'innover et de relever de nouveaux défis.
</p>

<p>
  Un de ces projets était le développement de l'application mobile <strong>Covoit'santé</strong> en utilisant React Native. Cette application, conçue pour faciliter le covoiturage entre les personnes malades qui ont besoin de se rendre à des rendez-vous médicaux, est un bel exemple de la manière dont la technologie peut être utilisée pour améliorer la qualité de vie des gens. En mettant en œuvre la compétence de construction d'applications, j'ai pu créer une interface utilisateur intuitive, adaptée aux besoins spécifiques des utilisateurs. Covoit'santé a permis à des centaines de personnes de bénéficier d'un moyen de transport économique et convivial, tout en contribuant à la réduction des émissions de carbone.
</p>

<p>
  Un autre projet marquant a été la refonte complète de l'application web <strong>Digitrack</strong> d'Altaroad en utilisant le framework Angular. Digitrack est une solution de traçabilité des flux pour les chantiers, qui permet aux entreprises de suivre en temps réel les mouvements de matériaux et d'équipements. Grâce à ma compétence en construction d'applications, j'ai pu transformer Digitrack en une Progressive Web App, améliorant ainsi son accessibilité et ses performances sur divers supports (navigateurs, tablettes). Cette refonte a non seulement permis à Altaroad de diminuer les frais de maintenance, mais a aussi contribué à l'optimisation de la gestion des chantiers pour des centaines d'utilisateurs.
</p>

<p>
  Actuellement, je travaille sur le développement d'une application multiplateforme pour <strong>Meet in City</strong>, une application de rencontre qui vise à connecter les gens de manière plus humaine et authentique. En appliquant ma compétence en construction d'applications, je m'efforce de créer une expérience utilisateur conviviale et engageante sur différentes plateformes. Mon objectif est de faciliter les rencontres authentiques et de contribuer à améliorer la qualité de vie des utilisateurs en leur offrant un espace sécurisé pour établir des relations significatives.
</p>

<p>
  Après trois ans d'expérience professionnelle, je peux dire que je maîtrise bien la compétence de la construction d'applications. Cependant, il y a toujours une marge de progression, notamment dans l'adaptation aux nouvelles technologies et aux tendances du marché. C'est pourquoi, je prévois de suivre des formations et de continuer à m'auto-former pour rester compétitif dans le domaine et poursuivre la création d'applications de haute qualité.
</p>

<p>
  Dans mon projet professionnel, la compétence de construction d'applications est essentielle. Je prévois de continuer à développer cette compétence, en particulier en me formant sur les nouvelles technologies et les meilleures pratiques en développement. J'ai hâte de voir comment cette compétence va continuer à évoluer et à transformer notre façon de travailler et de vivre.
</p>
<img src="assets/img/buildapp2.png" alt="Image related to Application Building" style="max-height: 50vh; max-width: 80vw;"/>

<br>
<h2>Articles liés :</h2>
<a href="projects/digitrack">Le projet Digitrack</a><br>
<a href="projects/meet-in-city">Le projet Meet In City</a><br>
</body>
<br>
<br>
<br>
